.containers{
	flex-direction:column;
	justify-content:center;
	display:flex;
	flex-grow:1;
}

.containers h2{
	flex-grow:1;
	font-weight:bold;
  color:var(--color-7);
}
.containers h3{
	flex-grow:1;
	font-weight:bold;
  color:var(--color-7);
}

.containers_table {
	flex-grow:4;
}

.container_controls{
  color:var(---color-2);
  display:flex;
  flex-direction:row;
}

.container_controls #start_button_enabled{
  background-color:green;
  color:var(--color-6);
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
  font-size:17px;
  font-weight:bold;
  margin:3px;
  width:120px;
}
.container_controls #stop_button_enabled{
  background-color:red;
  color:var(--color-6);
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
  font-size:17px;
  font-weight:bold;
  margin:3px;
  width:120px;
}
.container_controls #delete_button_enabled{
  background-color:red;
  color:var(--color-6);
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
  font-size:17px;
  font-weight:bold;
  margin:3px;
  width:120px;
}



.container_controls #start_button_enabled:hover{
  background-color:#56fca2;
  color:var(--color-6);
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
  font-size:17px;
  font-weight:bold;
  margin:3px;
  width:120px;
}
.container_controls #stop_button_enabled:hover{
  background-color:#fd5c63;
  color:var(--color-6);
  padding: 5px 8px;
  text-align: center;
  width:120px;
  text-decoration: none;
  font-size:17px;
  font-weight:bold;
  margin:3px;
}
.container_controls #delete_button_enabled:hover{
  background-color:#fd5c63;
  color:var(--color-6);
  padding: 5px 8px;
  width:120px;
  text-align: center;
  text-decoration: none;
  font-size:17px;
  font-weight:bold;
  margin:3px;
}

.container_controls #start_button_disabled{
  background-color:#d0d0d0;
  color:var(--color-6);
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
  font-size:17px;
  font-weight:bold;
  margin:3px;
  width:120px;
}
.container_controls #stop_button_disabled{
  background-color:#d0d0d0;
  color:var(--color-6);
  padding: 5px 8px;
  width:120px;
  text-align: center;
  text-decoration: none;
  font-size:17px;
  font-weight:bold;
  margin:3px;
}
.container_controls #delete_button_disabled{
  background-color:#d0d0d0;
  color:var(--color-6);
  width:120px;
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
  font-size:17px;
  font-weight:bold;
  margin:3px;
}



tr {
	background-color:var(--color-2);
	color:var(--color-6);
	border:7px solid;
	text-align:center;
  padding:10px;
}

td {
	background-color:var(--color-5);
	border: 1px solid;
	color:var(--color-7);
	font-weight: bold;
  padding:10px;
	
}

.container-name:hover{
	background-color:var(--color-8);
}
	


