.container-wrapper{
	display:flex;
	flex-direction:column;
  width:1500px;
}

.container-header{
	background-color:var(--color-2);
	flex-grow:1;
	display:flex;
	flex-direction:row;
  align-items:center;
}
.container-header h3{
	color:var(--color-6);
  font-size:20px;
}
.container-header p{
	padding:10px;
	color:var(--color-6);
	align-self:flex-start;
}

.container-content{
	background-color:var(--color-5);
	flex-grow:4;
	display:flex;
	flex-direction:row;
}

.container-tab{
	flex-grow:1;
	display:flex;
	flex-direction:column;
	background-color:var(--color-3);
	justify-content:start;
}
.link-1{
	margin:0;
	padding:10px;
}
.link-2{
	margin:0;
	padding:10px;
}
.link-3{
	margin:0;
	padding:10px;
}
.link-1 p{
	color:var(--color-6);
	font-weight:bold;
  font-size:20px;
}
.link-2 p{
	color:var(--color-6);
	font-weight:bold;
  font-size:20px;
}
.link-3 p{
	color:var(--color-6);
	font-weight:bold;
  font-size:20px;
}
.link-1:hover{
	background-color: var(--color-4);
}
.link-2:hover{
	background-color: var(--color-4);
}
.link-3:hover{
	background-color: var(--color-4);
}

.container-router{
	flex-grow:2050;
}
.container-router p{
	font-weight:bold;
	margin: 50px;
}





